fastapi
uvicorn
python-dotenv
google-genai
opencv-python-headless
pymupdf
sentence-transformers
faiss-cpu
numpy
python-multipart
Pillow
pypdf
langchain-text-splitters
langchain-huggingface
langchain-community
ddgs
bcrypt
python-jose[cryptography]
pydantic-settings
httpx
sounddevice
faster-whisper
pyttsx3
beautifulsoup4
gtts
av
ollama